.app-header {
  background-color: #3700B3;
  height: 60px;
  padding: 20px;
  padding-left: 32px;
  color: white;
  box-sizing: border-box;
  font-size: 1.25em;
}

.app-main-container {
  margin: 32px;
}